body {
    background-image: url("../images/asteroids.jpg");
}

.container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.panel-heading, .panel-body, .panel-footer {
    text-align: center;
}

span {
    font-size: 30px;
}

